.pricing-wrapper {
    min-height: 93vh;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subheading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
}

.items-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 4rem;
}

.MuiSlider-markLabel {
    color: #fff !important;
}