.pricing-wrapper {
    min-height: 93vh;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}
.subheading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
}

.slider {
    display: block;
    margin: 0 auto;
    gap: 2rem;
}

.content-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem;
    gap: 4rem;
}

.MuiSlider-markLabel {
    color: #fff !important;
}